<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #24292e">
  <a class="navbar-brand" href="#">
        <%= link_to root_path do %>
          <%= image_tag("bundl_red.png", class: "img-responsive", id: "navbar-logo", :size => "100x100") %>
        <% end %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
        collect what matters
    </span>
  </div>
</nav>
