<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #24292e">
  <div class="d-flex w-100 mx-auto order-0">
      <a class="navbar-brand mx-0">
        <%= link_to root_path do %>
        <%= image_tag("bundl_red.png", class: "img-responsive", id: "navbar-logo", :size => "100x100") %>
        <% end %>
      </a>
  </div>
</nav>
