/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "tether";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
    padding: 0%;
}

i.fas { 
    font-family:FontAwesome!important; 
    font-size: 25px; 
    font-weight: bold;
    font-style: normal;
}

a.far {
    font-family:FontAwesome!important; 
    font-size: 20px; 
    font-style: normal;
    cursor: pointer;
}

i.far { 
    font-family:FontAwesome!important; 
    font-size: 20px; 
    font-style: normal;
}

.card{
    width: 20rem; 
    height:25rem;
}


.slogan {
    color: #24292e; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: 5px; 
    line-height: 1; 
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 0px 0px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 1.42857;
    box-shadow:5px 5px 15px grey;}

.link-to-text-color { color: black; }

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }