<h1 class="title">bundls</h1>

<div class="card-deck">
  <div class="card bg-light mb-3" style="width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">ICELAND</h5>
      <h6 class="card-subtitle mb-2 text-muted">11 Items</h6>
      <p class="card-text">
        Photography resources for shooting landscapes in Iceland
      </p>
      <a href="#" class="btn btn-primary">Delete</a>
    </div>
  </div>

  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <div class="card-footer bg-transparent border-success">Footer</div>
  </div>
</div>
